.navbar{
  position: relative;
  width: 100%;
  height: 50px;
  background: linear-gradient(-90deg,#6b161a, #6c4203c9);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 10px;
  align-items: center;
}

.contenedor ul a {
  color: white;
  text-decoration: none;
  font-size: larger;
  padding: 20px;
}

.categorias{
    display: flex; 
}



.cart{
    padding-right: 30px;
}