.card{
    width: 300px;
    border-radius: 10px;
    height: 400px;
    transition: all 0.5s;
    background-color: blueviolet;
    
}
.card img{
    width: 100%;
    
}
.card:hover{
    width: 350px;
    border-radius: 10px;
    height: 450px;
    background-color: rgb(91, 91, 230); */
}  


button{
    border-radius: 6px;
    border: 1px solid black;
    padding: 3px;
    
}

.contenido{
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
} 
