.card{
    width: 300px;
    border-radius: 10px;
    height: 430px;
    transition: all 0.5s;
    
}
.card img{
    width: 100%;
    
}
.card:hover{
    transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}  

button{
    border-radius: 6px;
    border: 1px solid black;
    padding: 3px;
    cursor: pointer;
    
}

.contenido{
    color:black;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.desc{
    color: grey;
}
    
.link{
    text-decoration: none;
    
}