.card{
    margin-top: 30px;
    width: 300px;
    border-radius: 10px;
    height: 430px;
    transition: all 0.5s;
    margin-bottom: 120px;
}
.card img{
    width: 100%;
    
}
.card:hover{
    opacity: 5px;
    box-shadow: 0 40px 60px #e05c78c9;
}  

button{
    border-radius: 6px;
    border: 1px solid black;
    padding: 3px;
    cursor: pointer;
    
}

.contenido{
    color:black;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.desc{
    color: grey;
}
    
.link{
    text-decoration: none;
    
}