.contador{
    margin-top: 10px;
    display: flex;
    padding: 3px;
    justify-content: space-evenly;
}
.contadorContainer{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.sumaResta{
    background-color: #5ce1e6;
    font-size:20px;
    font-family:Verdana,Helvetica;
    font-weight:bold;   
    border:0px;
    width:80px;
    height:30px
}

.AgregarAlCarrito{
    width: 300px;
    display: flex;
    justify-content: flex-end;
   
}

.carrito {
    background: #fff; /* color de fondo */
    color:  black; /* color de fuente */
    border: 2px solid  #5ce1e6; /* tamaño y color de borde */
    padding: 10px;
    border-radius: 5px; /* redondear bordes */
    position: relative;
    z-index: 1;
    overflow: hidden;
    display: inline-block;
  }
  .carrito:hover {
    color: white; /* color de fuente hover */
  }
  .carrito::after {
    content: "";
    background:  #5ce1e6; /* color de fondo hover */
    position: absolute;
    z-index: -1;
    padding: 16px 20px;
    display: block;
    top: 0;
    bottom: 0;
    left: -100%;
    right: 100%;
    -webkit-transition: all 0.35s;
    transition: all 0.35s;
  }
  .carrito:hover::after {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    -webkit-transition: all 0.35s;
    transition: all 0.35s;
  }